doctype html
html(lang="en")
  head
    title Запчасти к сельхозтехнике
    meta(charset="utf-8")
    meta(name="description",content="")
    meta(name="keywords",content="")
    meta(name="author",content="Dmitry Lysenko")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="styles/critical.css", media="screen")
    //- link(rel="apple-touch-icon" href="/apple-touch-icon.png")
    //- //- link(rel="icon" href="/favicon.ico")
  body
    #partners-main
      header
        .logo
          img(src="images/partnersfarming.png", alt="Запчасти к сельхозтехнике")
        .phone-numbers
          span +38 (093) 123-33-44<br />
          span +38 (050) 123-33-44<br />
          span info@partnersfarming.com<br />
          span м. Київ, пров. Ватутіна, 4
      .search
        .container
          .wrap
            input(type="text", placeholder="Введите артикул, название производителя")
            button(type="button") Найти!     
        .parts-filter
          h3 
            span Запчасти для:
          a(href="#") Тракторов
          a(href="#") Жаток
          a(href="#") Тракторов
          a(href="#") Плугов
          a(href="#") Тракторов
          a(href="#") Комбайнов
          a(href="#") Тракторов
          a(href="#") Комбайнов
          a(href="#") Комбайнов
      .brands
        a(href="#")
          span.thumbnail
            img(src="images/JohnDeere.png", alt="запчасти John Deere")
            span John Deere 
        a(href="#")      
          span.thumbnail
            img(src="images/Ferguson.png", alt="запчасти Ferguson")
            span Massey Ferguson
        a(href="#")      
          span.thumbnail
            img(src="images/Jcb.png", alt="запчасти Jcb")
            span JCB 
        a(href="#")      
          span.thumbnail
            img(src="images/besson.png", alt="запчасти Gregoire Besson")
            span Gregoire Besson  
        a(href="#")      
          span.thumbnail
            img(src="images/Amazone.png", alt="запчасти Amazone")
            span Amazone  
        a(href="#")      
          span.thumbnail
            img(src="images/kuhn.png", alt="запчасти kuhn")
            span kuhn  
        a(href="#")      
          span.thumbnail
            img(src="images/capello.png", alt="запчасти capello")
            span capello
        a(href="#")      
          span.thumbnail
            img(src="images/claas.png", alt="запчасти claas")
            span claas  
        a(href="#")      
          span.thumbnail
            img(src="images/Lemken.png", alt="запчасти Lemken")
            span Lemken  
        a(href="#")      
          span.thumbnail
            img(src="images/vadesrstad.png", alt="запчасти vadesrstad")
            span vadesrstad 
        a(href="#")      
          span.thumbnail
            img(src="images/manitou.png", alt="запчасти manitou")
            span manitou  
        a(href="#")      
          span.thumbnail
            img(src="images/Gerninghoff.png", alt="запчасти Gerninghoff")
            span Gerninghoff  
        a(href="#")      
          span.thumbnail
            img(src="images/Kverneland.png", alt="запчасти Kverneland")
            span Kverneland  
      footer
                  
    link(rel="stylesheet", href="styles/libs/normalize.css", media="screen")
    link(rel="stylesheet", href="styles/app.css", media="screen")
    script(type="text/javascript" src="scripts/function.js")
    
