doctype html
html(lang="en")
  head
    title Partners Farming
    meta(charset="utf-8")
    meta(name="description",content="")
    meta(name="keywords",content="")
    meta(name="author",content="Dmitry Lysenko")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="styles/critical.css", media="screen")
    //- link(rel="apple-touch-icon" href="/apple-touch-icon.png")
    //- //- link(rel="icon" href="/favicon.ico")
  body
    #partners-main
      header
        .logo
          img(src="images/partnersfarming.png", alt="Запчасти к сельхозтехнике")
        .phone-numbers
          span +38 (093) 123-33-44<br />
          span +38 (050) 123-33-44<br />
          span info@partnersfarming.com<br />
          span м. Київ, пров. Ватутіна, 4
      .search
        .container
          .wrap
            input(type="text", placeholder="Введите артикул, название производителя")
            button(type="button") Найти!     
        .parts-filter
          span Запчасти для:
          a(href="#") Тракторов
          a(href="#") Жаток
          a(href="#") Тракторов
          a(href="#") Плугов
          a(href="#") Тракторов
          a(href="#") Комбайнов
          a(href="#") Тракторов
          a(href="#") Комбайнов
          a(href="#") Комбайнов
      .brands
        figure.thumbnail
          img(src="images/JohnDeere.png", alt="запчасти John Deere")
          figcaption John Deere 
            
        figure.thumbnail
          img(src="images/Ferguson.png", alt="запчасти Ferguson")
          figcaption Ferguson
            
        figure.thumbnail
          img(src="images/Jcb.png", alt="запчасти Jcb")
          figcaption JCB
            
        figure.thumbnail
          img(src="images/besson.png", alt="запчасти Gregoire Besson")
          figcaption Gregoire Besson  
            
        figure.thumbnail
          img(src="images/Amazone.png", alt="запчасти Amazone")
          figcaption Amazone  
            
        figure.thumbnail
          img(src="images/kuhn.png", alt="запчасти kuhn")
          figcaption kuhn  
            
        figure.thumbnail
          img(src="images/capello.png", alt="запчасти capello")
          figcaption capello
            
        figure.thumbnail
          img(src="images/claas.png", alt="запчасти claas")
          figcaption claas  
            
        figure.thumbnail
          img(src="images/Lemken.png", alt="запчасти Lemken")
          figcaption Lemken  
            
        figure.thumbnail
          img(src="images/vadesrstad.png", alt="запчасти vadesrstad")
          figcaption vadesrstad 
            
        figure.thumbnail
          img(src="images/manitou.png", alt="запчасти manitou")
          figcaption manitou  
            
        figure.thumbnail
          img(src="images/Gerninghoff.png", alt="запчасти Gerninghoff")
          figcaption Gerninghoff  
            
        figure.thumbnail
          img(src="images/Kverneland.png", alt="запчасти Kverneland")
          figcaption Kverneland  
                
    link(rel="stylesheet", href="styles/libs/normalize.css", media="screen")
    link(rel="stylesheet", href="styles/app.css", media="screen")
    script(type="text/javascript" src="scripts/function.js")
    
