doctype html
html(lang="en")
  head
    title Partners Farming
    meta(charset="utf-8")
    meta(name="description",content="")
    meta(name="keywords",content="")
    meta(name="author",content="Dmitry Lysenko")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="styles/critical.css", media="screen")
    //- link(rel="apple-touch-icon" href="/apple-touch-icon.png")
    //- //- link(rel="icon" href="/favicon.ico")
  body
    include sections/header.jade
    link(rel="stylesheet", href="styles/libs/bootstrap.min.css", media="screen")
    link(rel="stylesheet", href="styles/app.css", media="screen")
    script(type="text/javascript" src="scripts/function.js")
    
