doctype html
html(lang="en")
  head
    title Запчасти к бренду
    meta(charset="utf-8")
    meta(name="description",content="")
    meta(name="keywords",content="")
    meta(name="author",content="Dmitry Lysenko")
    //link(rel="apple-touch-icon" href="/apple-touch-icon.png")
    link(rel="stylesheet", href="styles/critical.css", media="screen")
    link(rel="icon" href="/favicon.ico")
  body
    #partners-zapchasti
      header
        .logo
          img(src="images/partnersfarming.png", alt="Запчасти к сельхозтехнике")
        .phone-numbers
          span +38 (093) 123-33-44<br />
          span +38 (050) 123-33-44<br />
          span info@partnersfarming.com<br />
          span м. Київ, пров. Ватутіна, 4
      .search
        .container
          .wrap
            input(type="text", placeholder="Введите артикул, название производителя")
            button(type="button") Найти!
      
      #brand-parts
        a(href="#", target="_blank").part-thumbnail
          span.picture
          span.part-name Lorem Ipsum
          span.current-brand Current brand
          span.category Category
          span.number 1234556778F3
          span.price 1000&nbsp;грн
        a(href="#", target="_blank").part-thumbnail
          span.picture
          span.part-name Lorem Ipsum
          span.current-brand Current brand
          span.category Category
          span.number 1234556778F3
          span.price 1000&nbsp;грн
        a(href="#", target="_blank").part-thumbnail
          span.picture
          span.part-name Lorem Ipsum
          span.current-brand Current brand
          span.category Category
          span.number 1234556778F3
          span.price 1000&nbsp;грн
        a(href="#", target="_blank").part-thumbnail
          span.picture
          span.part-name Lorem Ipsum
          span.current-brand Current brand
          span.category Category
          span.number 1234556778F3
          span.price 1000&nbsp;грн
        a(href="#", target="_blank").part-thumbnail
          span.picture
          span.part-name Lorem Ipsum
          span.current-brand Current brand
          span.category Category
          span.number 1234556778F3
          span.price 1000&nbsp;грн
        a(href="#", target="_blank").part-thumbnail
          span.picture
          span.part-name Lorem Ipsum
          span.current-brand Current brand
          span.category Category
          span.number 1234556778F3
          span.price 1000&nbsp;грн
        a(href="#", target="_blank").part-thumbnail
          span.picture
          span.part-name Lorem Ipsum
          span.current-brand Current brand
          span.category Category
          span.number 1234556778F3
          span.price 1000&nbsp;грн
        a(href="#", target="_blank").part-thumbnail
          span.picture
          span.part-name Lorem Ipsum
          span.current-brand Current brand
          span.category Category
          span.number 1234556778F3
          span.price 1000&nbsp;грн
      .form
        span Не нашли то, что искали?<br />
          | Напишите нам и мы найдем нужную деталь:
        form
          .left-side
            label(for="name") Ваше имя:          
            input(type="text" id="name")
            label(for="name") Ваш email:          
            input(type="email" id="mail")
            label(for="tphone") Ваш телефон:          
            input(type="tel" id="tphone")
          .right-side
            label(for="interest") Опишите, что Вас интересует:            
            textarea(id="interest") 
          button(type="submit") Отправить!  
            
      footer
    link(rel="stylesheet", href="styles/libs/normalize.css", media="screen")
    link(rel="stylesheet", href="styles/zapchasti.css", media="screen", title="no title")
    
    
      
    
